@charset 'UTF-8';
@import '../utility/*';

.content {
	@include flexbox();
	@include justify-content(space-between);
	margin-top: 59px;
	padding-bottom: 166px;
	@include SP {
		display: block;
		margin-top: 16px;
		padding-bottom: 0;
	}
}
.main {
	width: 704px;
	margin-right: 20px;
	@include SP {
		width: 100%;
	}
}
.list01 {
	li {
		border-top: 1px solid #dfe1e8;
		&:last-of-type {
			border-bottom: 1px solid #dfe1e8;
		}
		a {
			@include flexbox();
			position: relative;
			padding: 17px 18px;
			background-color: transparent;
			@include HOVER {
				&:hover {
					background-color: #f7f8fc;
				}
			}
			@include SP {
				padding: 20px;
			}
		}
	}
	&__new {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include font-size(11);
		color: #fff;
		background-color: #b1965c;
		font-family: 'Oswald';
		letter-spacing: 1px;
		position: absolute;
		top: 4px;
		left: 0;
		@include SP {
			width: 30px;
			height: 30px;
			font-size: 0.8rem;
			top: 8px;
			left: 14px;
		}
	}
	&__image {
		width: 24%;
		height: 120px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include SP {
			width: 95px;
			height: 71px;
		}
	}
	&__info {
		width: 76%;
		padding: 0 20px 0 25px;
		@include SP {
			width: calc(100% - 95px);
			padding: 0 0 0 15px;
			margin-top: -5px;
		}
	}
	&__date {
		@include font-size(14);
		color: #01161f;
		font-family: 'Oswald';
		@include SP {
			@include font-size(13);
		}
	}
	&__cat {
		@include font-size(13);
		color: #01161f;
		line-height: 1;
		position: relative;
		margin-left: 5px;
		padding-left: 12px;
		display: inline-block;
		@include SP {
			@include font-size(12);
		}
		&:before {
			content: "";
			width: 1px;
			height: 13px;
			background-color: #01161F;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__text {
		@include font(16, 1.7, 2px);
		color: #01161f;
		margin-top: 10px;
		@include multiLineEllipsis(3);
		@include IE {
			@include multiLineEllipsisForFF(1.7em, 3, #fff);
		}
		@include SP {
			@include font-size(14);
			margin-top: 1px;
		}
	}
}
.pagenavi-pc {
	margin-bottom: 115px;
}
.pagenavi-sp {
	position: relative;
	max-width: 254px;
	margin: 69px auto 68px;
	text-align: center;
	.prev, .next {
		display: block;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		width: 38px;
		height: 38px;
		background-color: #01161f;
		position: absolute;
		top: 3px;
		&:after {
			content: "";
			width: 8px;
			height: 8px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			position: absolute;
			top: 50%;
		}
	}
	.prev {
		left: 0;
		&:after {
			left: 18px;
			transform: translate(-20%, -50%) rotate(-135deg);
		}
	}
	.next {
		right: 0;
		&:after {
			right: 15px;
			transform: translate(-20%, -50%) rotate(45deg);
		}
	}
	.pagenavi-select {
		width: 140px;
		height: 45px;
		margin: 0 auto;
		position: relative;
		&:after {
			content: "";
			width: 8px;
			height: 8px;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
			position: absolute;
			top: 50%;
			right: 20px;
			z-index: 2;
			transform: translateY(-50%) rotate(45deg);
			pointer-events: none;
		}
		select {
			display: block;
			padding: 0 20px;
			width: 140px;
			height: 45px;
			background-color: #fff;
			@include font-size(16);
			color: #000;
			border: 1px solid #000;
			border-radius: 0;
			text-align: center;
			text-align-last: center;
			-moz-text-align-last: center;
			@include add_prefix(appearance, none);
		}
		::-ms-expand {
			display: none;
		}
	}
}