@charset 'UTF-8';
@import '../utility/*';

.content {
	@include flexbox();
	@include justify-content(space-between);
	margin-top: 33px;
	padding-bottom: 159px;
	@include SP {
		display: block;
		margin-top: 46px;
		padding-bottom: 0;
	}
}
.main {
	width: 672px;
	margin-right: 20px;
	@include SP {
		width: 100%;
		padding-bottom: 58px;
	}
}
.heading {
	border-bottom: 3px solid #01161f;
	padding-bottom: 26px;
	margin-bottom: 43px;
	@include SP {
		padding: 0 20px 28px;
		margin-bottom: 35px;
	}
}
.date {
	@include font-size(14);
	color: #000;
	font-family: 'Oswald';
	@include SP {
		letter-spacing: 1px;
	}
}
.cat {
	@include font-size(14);
	color: #000;
	position: relative;
	padding-left: 23px;
	letter-spacing: 1px;
	display: inline-block;
	@include SP {
		padding-left: 6px;
	}
	&:before {
		content: "";
		width: 1px;
		height: 12px;
		background-color: #000;
		position: absolute;
		top: 5px;
		left: 8px;
		@include SP {
			left: 0;
		}
	}
}
.title {
	@include font(30, 1.8, 1.5px);
	color: #01161f;
	margin-top: 10px;
	@include SP {
		@include font(22, 1.4, 1px);
	}
}
.detail {
	@include SP {
		padding: 0 20px;
	}
	h3 {
		@include font(22, 1.8, 1px);
		color: #01161f;
		background-color: #f2f2f2;
		padding: 18px 10px 14px 24px;
		margin-top: 79px;
		@include SP {
			@include font(20, 1.5, 2px);
			margin-top: 50px;
			padding: 24px 18px;
		}
	}
	h4 {
		@include font(20, 1.8, 1px);
		color: #01161f;
		border-bottom: 3px solid #01161f;
		padding-bottom: 20px;
		margin: 88px 0 -15px;
		@include SP {
			border-width: 2px;
			margin: 54px 0 -5px;
			padding-bottom: 15px;
			line-height: 1.5;
			letter-spacing: 2px;
		}
	}
	p {
		@include font(16, 2, 1.95px);
		color: #01161f;
		margin-top: 34px;
		@include SP {
			margin-top: 30px;
			line-height: 1.9;
			letter-spacing: 2.2px;
		}
	}
	img {
		margin-bottom: 11px;
		@include SP {
			margin-top: 0;
		}
	}
}
.sns {
	@include flexbox();
	@include align-items(center);
	border-top: 1px solid #e0e0e0;
	margin-top: 67px;
	padding-top: 55px;
	@include SP {
		margin-top: 59px;
		padding-top: 50px;
	}
	&__ttl {
		@include font-size(14);
		color: #000;
		font-family: 'Oswald';
		padding-left: 75px;
		position: relative;
		margin-right: 31px;
		white-space: nowrap;
		@include SP {
			padding-left: 78px;
		}
		&:before {
			content: "";
			width: 50px;
			height: 36px;
			background-image: url(../../img/blog/detail/ico_share_01.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: -9px;
			left: 12px;
			@include SP {
				left: 15px;
			}
		}
	}
	&__list {
		@include flexbox();
		@include SP {
			width: calc(100% - 200px);
		}
		li {
			display: inline-block;
			margin-right: 25px;
			&:last-of-type {
				margin-right: 0;
			}
			@include SP {
				margin-right: 15%;
			}
		}
	}
}
.sec01 {
	padding: 126px 0 72px;
	margin-bottom: 114px;
	position: relative;
	z-index: 1;
	min-height: 450px;
	@include SP {
		min-height: auto;
		padding: 112px 0 62px;
		margin-bottom: 0;
	}
	&:after {
		content: "";
		width: 95%;
		height: 100%;
		background-color: #f2f2f2;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		@include SP {
			width: 100%;
		}
	}
	&__btn {
		width: 80px;
		height: 80px;
		display: block;
		text-align: center;
		@include font-size(16);
		color: #01161f !important;
		padding-top: 56px;
		position: absolute;
		top: 205px;
		left: 0;
		right: 0;
		margin: 0 auto;
		&:after {
			content: "";
			width: 30px;
			height: 30px;
			background-image: url(../../img/blog/detail/ico_btn_01.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	&__btn-sp {
		max-width: 270px;
		height: 58px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include font-size(16);
		color: #01161f !important;
		letter-spacing: 1px;
		border: 1px solid #01161f;
		position: relative;
		margin: 50px auto 0;
		padding-left: 5px;
		&:after {
			content: "";
			width: 17px;
			height: 6px;
			background-image: url(../../img/common/icon/ico_arrow04.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 50%;
			left: 13px;
			transform: translateY(-50%);
		}
	}
}
.list01 {
	max-width: 894px;
	padding: 0 23px;
	margin: 0 auto;
	@include flexbox();
	@include justify-content(space-between);
	@include SP {
		padding: 0 20px;
	}
	li {
		width: 37.736%;
		position: relative;
		transition: 0.3s;
		@include SP {
			width: 46%;
		}
		@include HOVER {
			&:hover {
				.list01__btn {
					opacity: 1;
					color: #fff !important;
					background-color: #01161f;
					&:after {
						border-color: #fff;
					}
				}
				.list01__btn--prev {
					&:after {
						left: 13px;
					}
				}
				.list01__btn--next {
					&:after {
						right: 13px;
					}
				}
				.list01__item {
					opacity: 0.7;
				}
			}
		}
	}
	&__item {
		display: block;
		@include HOVER {
			&:hover {
				opacity: 1;
			}
		}
	}
	&__btn {
		width: 119px;
		height: 60px;
		border: 1px solid #01161f;
		color: #01161f !important;
		font-family: 'Oswald';
		letter-spacing: 2px;
		@include font-size(16);
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		position: absolute;
		top: -50px;
		@include SP {
			@include font-size(14);
			width: 87px;
			height: 45px;
			top: -37px;
		}
		&:after {
			content: "";
			width: 7px;
			height: 7px;
			border-right: 1px solid #01161f;
			border-bottom: 1px solid #01161f;
			position: absolute;
			top: 50%;
			transition: 0.3s;
		}
		&--prev {
			left: -23px;
			padding-left: 5px;
			@include SP {
				left: -12px;
				padding-left: 10px;
			}
			&:after {
				left: 23px;
				transform: translateY(-50%) rotate(135deg);
				@include SP {
					left: 13px;
				}
			}
		}
		&--next {
			right: -23px;
			padding-right: 5px;
			@include SP {
				right: -12px;
				padding-right: 10px;
			}
			&:after {
				right: 23px;
				transform: translateY(-50%) rotate(-45deg);
				@include SP {
					right: 13px;
				}
			}
		}
	}
	&__img {
		position: relative;
		width: 100%;
		height: 210px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include SP {
			height: 111px;
		}
	}
	&__info {
		margin-top: 18px;
	}
	&__date {
		@include font-size(14);
		color: #01161f;
		font-family: 'Oswald';
		@include SP {
			@include font-size(13);
			display: block;
		}
	}
	&__cat {
		@include font-size(13);
		color: #01161f;
		letter-spacing: 1px;
		position: relative;
		padding-left: 20px;
		display: inline-block;
		@include SP {
			@include font-size(12);
			display: block;
			padding-left: 0;
			margin-top: 5px;
		}
		&:before {
			content: "";
			width: 1px;
			height: 12px;
			background-color: #01161f;
			position: absolute;
			top: 3px;
			left: 9px;
			@include SP {
				content: none;
			}
		}
	}
	&__txt {
		margin-top: 10px;
		@include font(16, 1.8, 1.4px);
		color: #01161f;
		@include SP {
			margin-top: 6px;
			line-height: 1.6;
		}
	}
}