@charset "utf-8";
@import '../utility/*';

/*------------------------------------------------------------
header - footer contact
------------------------------------------------------------*/
.contact-header {
  height: 100px;
  text-align: center;
  padding-top: 34px;
  @include SP {
    height: 55px;
    padding-top: 15px;
    img {
      max-width: 115px;
    }
  }
}
.contact-footer {
  padding: 24px 0 23px;
  text-align: center;
  background-color: #01161f;
  @include font-size(12);
  color: #fff;
  font-weight: bold;
  font-family: 'Oswald';
  letter-spacing: 1px;
}

/*------------------------------------------------------------
common
------------------------------------------------------------*/
.c-ms {
  &:before {
        background-image: url(../../img/contact/ms_contact.jpg);
  }
}
.stepImg {
  text-align: center;
}
.btn01 {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  width: 311px;
  height: 78px;
  @include font-size(18);
  font-weight: bold;
  background-color: #01161f;
  border: none;
  text-align: center;
  margin: 40px auto 0;
  letter-spacing: 2px;
  position: relative;
  opacity: 0.7;
  &:focus {
    opacity: 1;
  }
  span {
    color: #fff;
    &:after {
      content: "";
      width: 19px;
      height: 6px;
      background-image: url(../../img/common/icon/ico_arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      @include centerer(false, true);
      right: 22px;
      @include SP {
        right: 16px;
      }
    }
  }
  @include SP {
    margin-top: 33px;
    width: 270px;
    height: 66px;
    letter-spacing: 0;
  }
}
.btn02 {
  display: block;
  width: 310px;
  height: 78px;
  border: 1px solid #01161f;
  text-align: center;
  margin: 40px auto 0;
  padding: 0;
  span {
    width: 100%;
    height: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    color: #fff;
    @include font-size(18);
    font-weight: bold;
    background-color: #01161f;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
    @include SP {
      letter-spacing: 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-color: #fff;
      z-index: -1;
      transition: transform .3s;
      transform: scaleX(0);
      transform-origin: right top;
    }
    &:after {
      content: "";
      width: 20px;
      height: 6px;
      background-image: url(../../img/common/icon/ico_arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      @include centerer(false, true);
      right: 20px;
      transition: 0.3s;
      @include SP {
        right: 16px;
      }
    }
  }
  @include SP {
    margin-top: 33px;
    width: 270px;
    height: 66px;
  }
  @include HOVER {
    &:hover {
      opacity: 1;
      span {
        color: #01161f;
        &:before {
          transform: scale(1);
          transform-origin: left top;
        }
        &:after {
          background-image: url(../../img/common/icon/ico_arrow02.svg);
          right: 12px;
        }
      }
    }
  }
  &--left {
    span {
      &:before {
        left: auto;
        right: 0;
        transform-origin: left top;
      }
      &:after {
        background-image: url(../../img/common/icon/ico_arrow05.svg);
        right: auto;
        left: 20px;
      }
    }
    @include HOVER {
      &:hover {
        span {
          &:before {
            transform-origin: right top;
          }
          &:after {
            background-image: url(../../img/common/icon/ico_arrow04.svg);
            left: 12px;
          }
        }
      }
    }
  }
}
.container {
  max-width: 888px;
  @include SP {
    padding: 0 20px;
  }
}
.txt-bottom {
  text-align: center;
  @include font-size(14);
  color: #01161f;
  letter-spacing: 0.5px;
  margin-top: 83px;
  @include SP {
    text-align: left;
    margin-top: 42px;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  a {
    color: #002398;
    text-decoration: underline;
  }
}

/*------------------------------------------------------------
contact
------------------------------------------------------------*/
.contact {
  .title01 {
    text-align: center;
    @include font-size(30);
    color: #01161f;
    letter-spacing: 3px;
    @include SP {
      @include font-size(24);
    }
  }
  .sec01 {
    margin-top: 38px;
    padding: 51px 20px 71px;
    position: relative;
    text-align: center;
    z-index: 1;
    @include SP {
      margin-top: 3px;
      padding: 28px 20px 29px;
    }
    &:after {
      content: "";
      width: 95%;
      height: 100%;
      background-color: #f2f2f2;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @include SP {
        width: 100%;
      }
    }
    &__icon {
      max-width: 73px;
      margin-bottom: 13px;
      @include SP {
        max-width: 50px;
      }
    }
    &__phone {
      margin-top: 45px;
      display: block;
      @include SP {
        margin: 20px 0 10px;
        background-color: #fff;
        padding: 21px 0 20px;
      }
    }
    &__phone-txt {
      @include font-size(14);
      color: #01161f;
      letter-spacing: 1px;
    }
    &__phone-number {
      @include font(46, 1, 2px);
      color: #01161f;
      line-height: 1;
      font-family: 'Oswald';
      display: block;
      letter-spacing: 2.8px;
      &:before {
        content: "";
        width: 56px;
        height: 32px;
        background-image: url(../../img/common/icon/ico_phone.svg);
        background-size: 100% auto;
        display: inline-block;
        margin: 0 -3px 1px -7px;
      }
      @include SP {
        @include font-size(32);
        letter-spacing: 0.8px;
        margin-top: 6px;
        &:before {
          width: 35px;
          height: 20px;
          background-size: 100% auto;
          margin: 0 8px 1px 6px;
        }
      }
    }
    &__phone-time {
      @include font-size(14);
      color: #01161f;
      display: block;
      margin-top: 13px;
      padding-left: 50px;
      @include SP {
        text-align: center;
        @include font-size(14);
        padding-left: 15px;
        margin-top: 10px;
      }
    }
  }
  .sec02 {
    padding: 101px 0 50px;
    @include SP {
      padding: 49px 0 38px;
    }
    &__icon {
      display: block;
      margin: 0 auto 5px;
      @include SP {
        max-width: 60px;
        margin-bottom: 0;
      }
    }
    .title01 {
      margin-bottom: 78px;
      @include SP {
        margin-bottom: 48px;
      }
    }
    .stepImg {
      margin-bottom: 70px;
      @include SP {
        margin-bottom: 39px;
      }
    }
  }
  .contactform {
    dl {
      @include flexbox();
      border-bottom: 1px solid #d6d6d6;
      &:first-of-type {
        border-top: 1px solid #d6d6d6;
        @include SP {
          border-top: none;
        }
      }
      @include SP {
        display: block;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
      }
      dt {
        width: 240px;
        @include font-size(16);
        color: #000;
        padding: 44px 0 0 0;
        @include SP {
          width: 100%;
          background-color: #cecece;
          font-weight: bold;
          padding: 14px 14px 15px;
        }
      }
      dd {
        width: calc(100% - 240px);
        padding: 23px 0 31px 0;
        @include SP {
          width: 100%;
          padding: 16px 20px 36px;
        }
      }
    }
  }
  .require, .any {
    @include font-size(14);
    display: inline-block;
    font-weight: bold;
    padding: 3px 15px;
    margin-right: 16px;
    @include SP {
      font-weight: bold;
      padding: 0 6px;
      margin-right: 14px;
    }
  }
  .require {
    color: #01161f;
    background-color: #ffe555;
  }
  .any {
    color: #fff;
    background-color: #858585;
  }
  .txt {
    @include font-size(14);
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 4px;
    @include SP {
      @include font-size(16);
      letter-spacing: 1.5px;
      margin-bottom: 7px;
    }
  }
  input[type="text"], input[type="tel"], input[type="email"] {
    width: 438px;
    height: 38px;
    border: 1px solid #d6d6d6;
    background-color: #fafaf2;
    padding: 0 8px;
    @include font-size(14);
    color: #01161f;
    @include add_prefix(appearance, none);
    @include SP {
      width: 100%;
      height: 47px;
    }
  }
  input[name="zipcode"] {
    width: 117px;
    margin-left: 15px;
    @include add_prefix(appearance, none);
    @include SP {
      width: 208px;
    }
  }
  textarea {
    width: 100%;
    height: 193px;
    border: 1px solid #d6d6d6;
    background-color: #fafaf2;
    padding: 8px;
    margin: 5px 0 -14px;
    @include font-size(16);
    color: #01161f;
    @include ffN;
    @include add_prefix(appearance, none);
    @include SP {
      height: 182px;
      margin: 5px 0 -8px;
    }
  }
  .block01 {
    padding: 40px 0 34px;
    @include SP {
      padding: 35px 0 0;
    }
    &__ttl {
      @include font-size(15);
      color: #01161f;
      font-weight: bold;
      letter-spacing: 0.6px;
    }
    &__txt01 {
      @include font-size(14);
      color: #01161f;
      margin: 19px 0 44px;
      line-height: 1.8;
      letter-spacing: 1.2px;
      @include SP {
        margin: 7px 0 17px;
      }
      a {
        text-decoration: underline;
        color: #002398;
      }
    }
  }
  .agree {
    display: block;
    padding: 28px 0 0 54px;
    text-align: center;
    width: 100%;
    height: 80px;
    border: 1px solid #acacac;
    background-color: #fafaf2;
    input {
      display: none;
      ~ span {
        display: inline-block;
        position: relative;
        @include font-size(16);
        color: #01161f;
        letter-spacing: 1px;
        &:before {
          content: "";
          width: 20px;
          height: 20px;
          border: 1px solid #707070;
          background-color: #fff;
          position: absolute;
          top: 3px;
          left: -37px;
        }
        &:after {
          content: "";
          width: 7px;
          height: 12px;
          border-bottom: 2px solid #000;
          border-right: 2px solid #000;
          position: absolute;
          top: 5px;
          left: -30px;
          transform: rotate(45deg) skewX(12deg);
          opacity: 0;
        }
      }
      &:checked {
        ~ span {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------
confirm
------------------------------------------------------------*/
.confirm {
  padding-top: 0;
  .c-ms02 {
    margin-top: 0;
  }
  .sec01 {
    padding: 151px 0 30px;
    @include SP {
      padding: 40px 0 20px;
    }
    &__txt {
      text-align: center;
      @include font-size(18);
      color: #01161f;
      letter-spacing: 3.7px;
      margin: 75px 0 73px;
      @include SP {
         @include font(16, 1.8, 3px);
         margin: 37px 0 31px;
         text-align: left;
      }
    }
  }
  .confirmform {
    dl {
      @include flexbox();
      border-bottom: 1px solid #d6d6d6;
      @include font(16, 1.7, 2.1px);
      color: #01161f;
      @include SP {
        display: block;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
      }
      &:first-of-type {
        border-top: 1px solid #d6d6d6;
        @include SP {
          border-top: none;
        }
      }
      dt, dd {
        padding: 32px 0 34px 0;
      }
      dt {
        width: 203px;
        @include SP {
          width: 100%;
          background-color: #cecece;
          font-weight: bold;
          padding: 11px 18px 12px;
        }
      }
      dd {
        width: calc(100% - 203px);
        @include SP {
          width: 100%;
          padding: 21px 17px 14px;
        }
      }
    }
  }
  .back {
    text-align: right;
    margin-top: 20px;
    padding-right: 10px;
    @include SP {
      margin-top: 16px;
      padding-right: 0;
    }
    a {
      @include font-size(14);
      color: #002398;
      text-decoration: underline;
    }
  }
  .btn01 {
    margin-top: 82px;
    @include SP {
      margin-top: 45px;
    }
  }
  .txt-bottom {
    margin: 55px 0 90px;
    @include SP {
      margin: 45px 0 35px;
    }
  }
}

/*------------------------------------------------------------
complete
------------------------------------------------------------*/
.complete {
  .sec01 {
    max-width: 670px;
    margin: 77px auto 0;
    @include SP {
      margin: 64px auto 0;
    }
    &__ttl {
      text-align: center;
      @include font-size(22);
      color: #000;
      letter-spacing: 3px;
      @include SP {
        letter-spacing: 2.5px;
      }
    }
    &__txt {
      @include font(16, 1.9, 2px);
      color: #000;
      margin-top: 69px;
      @include SP {
        margin-top: 51px;
        line-height: 1.7;
        letter-spacing: 1.4px;
      }
    }
  }
  .stepImg {
    margin-top: 20px;
  }
  .btn01 {
    margin-top: 94px;
    @include SP {
      margin-top: 55px;
    }
    span {
      &:after {
        background-image: url(../../img/common/icon/ico_arrow05.svg);
        right: auto;
        left: 22px;
      }
    }
  }
  .txt-bottom {
    margin: 75px 0 100px;
    @include SP {
      margin: 38px 0 100px;
    }
  }
}