@charset 'UTF-8';
@import '../utility/*';

.slider {
	&__image {
		width: calc(100% - 284px);
		height: calc(100vh - 185px);
		margin-left: auto;
		overflow: hidden;
		min-height: 450px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		@include SP {
			min-height: 200px;
			width: 100%;
			height: 70vh;
			@include IP5 {
				height: 60vh;
			}
		}
		@include IE {
			position: relative;
			img {
				@include centerer(true, true);
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
			}
		}
	}
	.slick-dots {
		position: absolute;
		left: 87px;
		bottom: -5px;
		&:before {
			content: "";
			width: 25px;
			height: 2px;
			background-color: #707070;
			position: absolute;
			left: 0;
			top: -40px;
		}
		li {
			width: 7px;
			height: 7px;
			background-color: #e1e0de;
			display: inline-block;
			border-radius: 100%;
			margin-right: 11px;
			button {
				display: none;
			}
			&.slick-active {
				background-color: #b1965c;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.title {
	text-align: center;
	&__main {
		@include font-size(40);
		color: #01161f;
		font-family: 'Oswald';
		letter-spacing: 5px;
		@include SP {
			@include font-size(30);
		}
	}
	&__text {
		@include font-size(16);
		color: #01161f;
		letter-spacing: 2px;
		margin-top: 6px;
		@include SP {
			margin-top: 3px;
			letter-spacing: 1px;
		}
	}
}

/*
------------------------------------------------------------*/
.title02 {
	&__text {
		@include font-size(12);
		color: #fff;
		font-family: 'Oswald';
		letter-spacing: 1px;
		margin-bottom: 8px;
	}
	&__plus {
		width: 12px;
		height: 12px;
		background-color: #b1965c;
		display: inline-block;
		border-radius: 100%;
		margin: 0 2px;
		position: relative;
		&:before, &:after {
			content: "";
			width: 6px;
			height: 1px;
			background-color: #262626;
			@include centerer;
		}
		&:after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	&__main {
		@include font(40, 1, 5.5px);
		color: #fff;
		font-family: 'Oswald';
	}
}

/*
------------------------------------------------------------*/
.text {
	@include font(16, 2, 2.5px);
	color: #fff;
	p + p {
		margin-top: 32px;
	}
	@include SP {
		@include font(18, 2.2, 1px);
		p + p {
			margin-top: 43px;
		}
	}
}

/*
------------------------------------------------------------*/
.list01 {
	padding: 0 2.3%;
	@include flexbox();
	@include flex-wrap(wrap);
	@include SP {
		padding: 0 20px;
		@include justify-content(space-between);
	}
	li {
		width: 24.6%;
		margin-left: 0.5%;
		&:nth-child(4n+1) {
			margin-left: 0;
		}
		@include SP {
			margin: 0 0 10px 0;
			width: 49%;
		}
		a {
			display: block;
			position: relative;
			height: 100%;
			background-color: #f2f2f2;
			@include HOVER {
				&:hover {
					.list01__box {
						border-color: #01131a;
					}
					.list01__info {
						&:after {
							right: 11px;
						}
					}
				}
			}
		}
	}
	&__full-sp {
		@include SP {
			width: 100% !important;
			a {
				@include SP {
					background-color: transparent !important;
				}
			}
			.list01__image {
				height: auto;
			}
		}
	}
	&__image {
		background-color: #fff;
		img {
			width: 100%;
		}
		@include SP {
			height: 155px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}
	&__box {
		width: 75%;
		border: 1px solid #fff;
		padding: 13px 0;
		background-color: #fff;
		@include font-size(13);
		color: #01131a;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 42px;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 1px;
		transition: 0.3s;
		&:after {
			content: "";
			width: 12px;
			height: 11px;
			background-image: url(../../img/common/icon/ico_blank.svg);
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 54%;
			right: 11%;
			transform: translateY(-50%);
			@include SP {
				right: 48px;
				@include IP5 {
					right: 15px;
				}
			}
			@include IE {
				width: 9px;
				height: 9px;
				background-size: 9px auto;
			}
		}
		@include SP {
			@include font-size(14);
			line-height: 1.8;
			position: relative;
			top: -12px;
			right: 0;
			transform: translateY(0);
			width: calc(100% - 40px);
			background-color: #f2f2f2;
			padding: 20px 0;
		}
	}
	&__info {
		padding: 5.5% 8.5% 0;
		@include SP {
			padding: 14px 15px 37px;
		}
		&:after {
			content: "";
			width: 20px;
			height: 6px;
			background-image: url(../../img/common/icon/ico_arrow02.svg);
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			right: 19px;
			bottom: 35px;
			transition: 0.3s;
			@include SP {
				right: 15px;
				bottom: 20px;
			}
		}
	}
	&__title {
		@include font-size(18);
		color: #01161f;
		letter-spacing: 1.5px;
		position: relative;
		margin-bottom: 30px;
		@include SP {
			@include font-size(14);
			letter-spacing: 1.6px;
			margin-bottom: 22px;
		}
		&:after {
			content: "";
			width: 23px;
			height: 2px;
			background-color: #262626;
			position: absolute;
			bottom: -15px;
			left: 0;
			@include SP {
				width: 16px;
				bottom: -9px;
			}
		}
	}
	&__text {
		@include font-size(14);
		color: #01161F;
		letter-spacing: 0.5px;
		@include SP {
			@include font-size(12);
		}
	}
}

/*
------------------------------------------------------------*/
.list02 {
	padding: 0 2.4%;
	@include flexbox();
	@include flex-wrap(wrap);
	@include SP {
		@include justify-content(space-between);
		padding: 0;
	}
	li {
		width: 33.2%;
		margin: 0 0 32px 0.2%;
		@include SP {
			margin: 0 0 33px 0;
			width: 49%;
		}
		&:nth-child(3n+1) {
			margin-left: 0;
		}
		a {
			display: block;
		}
	}
	&__image {
		img {
			width: 100%;
		}
	}
	&__info {
		padding: 20px 20% 0 23px;
		@include SP {
			padding: 15px 3px 0 12px;
		}
	}
	&__title {
		@include font(16, 1.8, 1.9px);
		color: #01161f;
		padding-bottom: 42px;
		position: relative;
		@include SP {
			@include font(14, 1.7, 1.6px);
			padding-bottom: 33px;
		}
		&:after {
			content: "";
			width: 24px;
			height: 1px;
			background-color: #01161f;
			position: absolute;
			left: 0;
			bottom: 23px;
			@include SP {
				bottom: 18px;
			}
		}
	}
	&__text {
		@include font-size(13);
		color: #01161f;
		@include SP {
			@include font-size(12);
		}
	}
}

/*
------------------------------------------------------------*/
.list03 {
	max-width: 1064px;
	padding: 0 20px;
	margin: 0 auto;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include SP {
		display: block;
	}
	li {
		width: 47.55%;
		margin-bottom: 20px;
		@include SP {
			width: 100%;
			border-bottom: 1px solid #dfe2e8;
			margin-bottom: 0;
		}
		a {
			position: relative;
			@include flexbox();
			@include SP {
				padding: 19px 0;
			}
		}
	}
	&__new {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include font-size(11);
		color: #fff;
		background-color: #b1965c;
		font-family: 'Oswald';
		letter-spacing: 1px;
		position: absolute;
		top: -10px;
		left: -18px;
		@include SP {
			width: 30px;
			height: 30px;
			@include font-size(8);
			top: 8px;
			left: -5px;
		}
	}
	&__image {
		width: 43%;
		height: 123px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include SP {
			width: 122px;
			height: 88px;
		}
	}
	&__info {
		width: 57%;
		padding: 4.5% 0 0 5%;
		@include SP {
			margin-top: -2px;
			width: calc(100% - 122px);
			padding: 0 0 0 15px;
		}
	}
	&__date {
		@include font-size(14);
		color: #01161F;
		display: inline-block;
		font-family: 'Oswald';
		letter-spacing: 0.3px;
		@include SP {
			@include font-size(12);
		}
	}
	&__cat {
		@include font-size(12);
		color: #01161f;
		display: inline-block;
		background-color: #fff;
		letter-spacing: 1px;
		padding: 1px 10px;
		margin-left: 9px;
		@include SP {
			margin-left: 7spx;
		}
	}
	&__text {
		@include font(16, 1.7, 1.5px);
		color: #01161f;
		margin-top: 12px;
		@include multiLineEllipsis(3);
		@include IE {
			@include multiLineEllipsisForFF(1.7em, 3, #f2f2f2);
		}
		@include SP {
			@include font-size(14);
			margin-top: 3px;
		}
	}
}

/*
------------------------------------------------------------*/
.list04 {
	max-width: 1230px;
	margin: 0 auto;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include SP {
		display: block;
	}
	li {
		width: 48.6%;
		position: relative;
		padding: 60px 4.1% 43px;
		@include SP {
			width: 100%;
			padding: 40px 25px 35px;
			margin-bottom: 88px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&:nth-child(1) {
			background-color: #dfe1e8;
			.list04__image {
				width: 43.5%;
				top: -79px;
				right: 29px;
				@include SP {
					width: 39%;
					top: -41px;
					right: 10px;
					max-width: 145px;
				}
			}
		}
		&:nth-child(2) {
			background-color: #f5f3ef;
			.list04__image {
				top: -42px;
				right: -4px;
				@include SP {
					width: 49%;
					top: -29px;
					right: 1px;
					max-width: 245px;
				}
			}
		}
	}
	&__image {
		width: 53%;
		text-align: right;
		position: absolute;
	}
	&__title {
		position: relative;
		padding-bottom: 23px;
		margin-bottom: 25px;
		@include SP {
			margin-bottom: 32px;
		}
		&:after {
			content: "";
			width: 35px;
			height: 1px;
			background-color: #01161f;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&__main {
			@include font-size(30);
			color: #01161f;
			font-family: 'Oswald';
			letter-spacing: 4.8px;
			@include SP {
				@include font-size(25);
				letter-spacing: 4px;
				margin-bottom: 5px;
			}
		}
		&__text {
			@include font-size(16);
			color: #01161f;
			letter-spacing: 2px;
		}
	}
	&__text {
		@include font(16, 2, 2px);
		color: #01161f;
		padding-right: 53%;
		margin-bottom: 51px;
		@include SP {
			@include font-size(14);
			line-height: 1.8;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}
	.btn01 {
		width: 280px;
		@include SP {
			width: 260px;
			&:after {
				right: 15px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.btn01 {
	width: 310px;
	height: 59px;
	border: 1px solid #01161f;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding-right: 20px;
	@include SP {
		padding-right: 0;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-color: #262626;
		z-index: 0;
		transition: transform .3s;
		transform: scaleX(0);
		transform-origin: right top;
	}
	&:after {
		content: "";
		width: 20px;
		height: 6px;
		background-image: url(../../img/common/icon/ico_arrow02.svg);
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s;
		@include SP {
			right: 8px;
		}
	}
	@include HOVER {
		&:hover {
			opacity: 1;
			span {
				color: #fff;
			}
			&:before {
				transform: scale(1);
				transform-origin: left top;
			}
			&:after {
				right: 5px;
				background-image: url(../../img/common/icon/ico_arrow.svg);
			}
		}
	}
	span {
		position: relative;
		z-index: 2;
		@include font-size(16);
		color: #01161f;
		letter-spacing: 1.6px;
		@include SP {
			letter-spacing: 0.7px;
		}
	}
	&--color1 {
		border-color: #fff;
		padding-right: 8px;
		span {
			color: #fff;
			letter-spacing: 2.5px;
		}
		&:before {
			background-color: #fff;
		}
		&:after {
			right: 18px;
			background-image: url(../../img/common/icon/ico_arrow.svg);
		}
		@include HOVER {
			&:hover {
				span {
					color: #01161f;
				}
				&:after {
					right: 10px;
					background-image: url(../../img/common/icon/ico_arrow02.svg);
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.block01 {
	@include flexbox();
	@include justify-content(space-between);
	@include SP {
		display: block;
	}
	&__info {
		width: 60%;
		@include SP {
			width: 100%;
			padding: 22px 7px 0;
		}
	}
	&__image {
		width: 40%;
		text-align: right;
		max-width: 503px;
		@include SP {
			width: 100%;
			max-width: 100%;
			text-align: center;
		}
	}
	&__title {
		@include font(34, 1.7, 11px);
		color: #01161f;
		@include SP {
			@include font(26, 1.6, 6px);
			text-align: center;
		}
	}
	&__text {
		@include font(16, 1.8, 1.4px);
		color: #01161f;
		margin: 49px 0 57px;
		p + p {
			margin-top: 28px;
		}
		@include SP {
			letter-spacing: 1.9px;
		}
	}
	.btn01 {
		margin-left: 3px;
		width: 300px;
	}
}

/*
------------------------------------------------------------*/
.sec01 {
	position: relative;
	margin-bottom: 56px;
	@include SP {
		padding-bottom: 115px;
		margin-bottom: 126px;
	}
	&__title {
		position: absolute;
		top: 42%;
		left: 85px;
		transform: translateY(-50%);
		z-index: 10;
		@include SP {
			left: 20px;
			top: 51vh;
			transform: translateY(0);
			@include IP5 {
				top: 44vh;
			}
		}
		&__txt {
			margin-bottom: 33px;
			@include SP {
				max-width: 160px;
				margin-bottom: 10px;
			}
		}
		&__main {
			color: #01161f;
			font-weight: bold;
			line-height: 1.3;
			@include SP {
				line-height: 1.4;
			}
			span {
				&:nth-child(1) {
					@include font-size(64);
					letter-spacing: 7.5px;
					@include SP {
						@include font-size(41);
						letter-spacing: 4.6px;
						@include IP5 {
							letter-spacing: 3px;
						}
					}
				}
				&:nth-child(2) {
					@include font-size(40);
					letter-spacing: 5px;
					@include SP {
						@include font-size(25);
						letter-spacing: 3px;
						@include IP5 {
							letter-spacing: 2px;
						}
					}
				}
				&:nth-child(3) {
					@include font-size(18);
					letter-spacing: 3.8px;
					display: block;
					margin-top: 36px;
					@include SP {
						@include font-size(16);
						margin-top: 15px;
						letter-spacing: 2.5px;
						@include IP5 {
							letter-spacing: 1.5px;
						}
					}
				}
			}
		}
	}
	&__scroll-down {
		text-align: center;
		width: 70px;
		height: 70px;
		position: absolute;
		bottom: -46px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 10;
		a {
			display: block;
			@include font-size(11);
			color: #01161f;
			font-family: 'Oswald';
			padding-top: 53px;
			letter-spacing: 0.8px;
			white-space: nowrap;
			position: relative;
			@include SP {
				letter-spacing: 0;
			}
			&:hover {
				opacity: 1;
			}
		}
		span {
			width: 10px;
			height: 40px;
			position: absolute;
			top: 6px;
			left: 0;
			right: 0;
			margin: 0 auto;
			-webkit-animation: 2s fuwafuwa infinite;
			animation: 2s fuwafuwa infinite;
			@-webkit-keyframes fuwafuwa {
				0% { -webkit-transform:translate(0, 0) }
				50% { -webkit-transform:translate(0, -10px) }
				100% { -webkit-transform:translate(0, 0) }
			}
			@keyframes fuwafuwa {
				0% { transform:translate(0, 0) }
				50% { transform:translate(0, -10px) }
				100% { transform:translate(0, 0) }
			}
			&:before, &:after {
				content: "";
				position: absolute;
			}
			&:before {
				width: 1px;
				height: 30px;
				background-color: #01161f;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				@include SP {
					top: 8px;
					height: 22px;
				}
			}
			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 4.5px 0 4.5px;
				border-color: #01161f transparent transparent transparent;
				bottom: 1px;
				left: 0;
				right: 0;
				margin: 0 auto;
				@include SP {
					border-width: 6px 4px 0 4px;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.sec02 {
	padding: 99px 0 146px;
	@include SP {
		padding: 66px 0 63px;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 220px;
			background-color: #dfe1e8;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1px;
		}
	}
	.title {
		margin-bottom: 65px;
		position: relative;
		@include SP {
			margin-bottom: 48px;
		}
		&:after {
			content: "";
			width: 167px;
			height: 177px;
			background-image: url(../../img/top/img_ttl_01.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: -64px;
			right: 35px;
			@include SP {
				width: 100px;
				height: 106px;
				background-size: 100% auto;
				top: -109px;
				right: 0;
			}
		}
	}
	.list01 {
		margin-bottom: 84px;
		@include SP {
			margin-bottom: 42px;
		}
	}
	.btn01 {
		@include SP {
			width: 257px;
			height: 70px;
		}
	}
}

/*
------------------------------------------------------------*/
.sec03 {
	padding: 0 20px 171px;
	position: relative;
	background-image: url(../../img/top/bg_about-us_01.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	overflow: hidden;
	@include SP {
		padding: 0 0 246px;
		background-image: url(../../img/top/bg_about-us_01_sp.jpg);
	}
	&:before {
		content: "";
		width: 95%;
		height: calc(100% - 287px);
		background-color: #01161f;
		position: absolute;
		left: 0;
		top: 84px;
		@include max-screen(1100px) {
			height: calc(100% - 200px);
		}
		@include SP {
			width: 100%;
			top: 157px;
			height: calc(100% - 319px);
		}
	}
	&:after {
		content: "";
		width: 299px;
		height: 92px;
		background-image: url(../../img/top/ttl_top_02.svg);
		position: absolute;
		top: 63px;
		right: calc(66/1360 * 100% - 52px);
		@include SP {
			display: none;
		}
	}
	&__inner {
		max-width: 1212px;
		margin: 0 auto;
		@include flexbox();
		position: relative;
		z-index: 1;
		@include SP {
			display: block;
		}
	}
	&__image {
		width: 50%;
		max-width: 567px;
		@include SP {
			width: 100%;
			text-align: right;
			max-width: 100%;
			img {
				width: 95%;
			}
		}
	}
	&__content {
		width: 50%;
		padding: 180px 5% 0 3.9%;
		@include max-screen(1100px) {

		}
		@include SP {
			width: 100%;
			padding: 41px 20px 0;
		}
	}
	.title02 {
		margin-bottom: 41px;
		@include SP {
			margin-bottom: 46px;
		}
	}
	.btn01 {
		margin: 44px 0 0 0;
		width: 252px;
		@include SP {
			margin: 73px auto 0;
		}
	}
}

/*
------------------------------------------------------------*/
.sec04 {
	padding: 81px 0 166px;
	position: relative;
	@include SP {
		padding: 79px 0 146px;
	}
	&:before {
		content: "";
		width: 100%;
		height: 523px;
		background-color: #dfe1e8;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		@include SP {
			height: 276px;
		}
	}
	.title {
		position: relative;
		margin-bottom: 69px;
		@include SP {
			margin-bottom: 56px;
		}
		&:after {
			content: "";
			width: 210px;
			height: 199px;
			background-image: url(../../img/top/ttl_top_03.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: -119px;
			left: 99px;
			@include SP {
				width: 130px;
				height: 133px;
				background-size: 100% auto;
				top: -159px;
				left: 7px;
			}
		}
	}
	.list02 {
		margin-bottom: 62px;
		@include SP {
			margin-bottom: 38px;
		}
	}
	.btn01 {
		@include SP {
			width: 257px;
			padding-right: 25px;
		}
	}
}

/*
------------------------------------------------------------*/
.sec05 {
	&__mv {
		position: relative;
		&:before {
			content: "";
			width: 327px;
			height: 119px;
			background-image: url(../../img/top/ttl_top_04.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: -52px;
			left: 202px;
			@include SP {
				width: 225px;
				height: 86px;
				background-size: 100% auto;
				top: -40px;
				left: 28px;
			}
		}
		img {
			width: 89%;
			@include SP {
				width: 95%;
			}
		}
	}
	&__inner {
		position: relative;
		padding: 112px 0 120px;
		z-index: 1;
		@include SP {
			padding: 112px 0 58px;
		}
		&:after {
			content: "";
			width: 95%;
			height: calc(100% + 62px);
			background-color: #f2f2f2;
			position: absolute;
			top: -64px;
			right: 0;
			z-index: -1;
			@include SP {
				width: 100%;
				top: 0;
				height: 100%;
			}
		}
	}
	.title {
		margin-bottom: 66px;
		position: relative;
		@include SP {
			margin-bottom: 32px;
		}
		&:after {
			content: "";
			width: 106px;
			height: 75px;
			background-image: url(../../img/top/ico_bolg_01.svg);
			position: absolute;
			top: -90px;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include SP {
				width: 78px;
				height: 55px;
				background-size: 100% auto;
				top: -65px;
			}
		}
	}
	.list03 {
		margin-bottom: 73px;
		@include SP {
			margin-bottom: 60px;
		}
	}
	.btn01 {
		@include SP {
			width: 257px;
		}
	}
}

/*
------------------------------------------------------------*/
.sec06 {
	padding: 207px 4.85% 135px;
	@include SP {
		padding: 97px 20px 73px;
	}
}
/*
------------------------------------------------------------*/
.sec07 {
	&__mv {
		img {
			width: 100%;
		}
	}
	&__inner {
		width: 90.7%;
		margin: 0 auto;
		position: relative;
		padding: 13px 4.9% 138px 11.9%;
		z-index: 1;
		@include SP {
			width: calc(100% - 26px);
			padding: 0 0 105px;
		}
		&:before {
			content: "";
			width: 155px;
			height: 90px;
			background-image: url(../../img/top/ico_light_01.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: -122px;
			right: 7.4%;
			@include SP {
				background-size: 100% auto;
				background-repeat: no-repeat;
				width: 78px;
				height: 48px;
				top: -57px;
				right: 25px;
			}
		}
		&:after {
			content: "";
			width: 100%;
			height: calc(100% + 122px);
			background-color: #fff;
			position: absolute;
			top: -122px;
			left: 0;
			z-index: -1;
			@include SP {
				height: calc(100% + 60px);
				top: -57px;
			}
		}
	}
}