@charset 'UTF-8';

/*-----------------------------------------------------------
Bread
------------------------------------------------------------*/
.breadcrumb {
  padding: 10px 35px;
  @include SP {
    padding: 5px 20px;
  }
  li {
    display: inline-block;
    @include font-size(12);
    color: #01161f;
    letter-spacing: 1.7px;
    &:after {
      content: ">";
      color: #01161f;
      @include font-size(12);
      display: inline-block;
      margin: 0 3px 0 7px;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}