
/*------------------------------------------------------------
button
------------------------------------------------------------*/
.c-btn {
  width: 196px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include HOVER {
    &:hover {
      opacity: 1;
    }
  }
  span {
    @include font-size(14);
    color: #fff;
  }
  &--card {
    background-color: #b1965c;
    border: 1px solid #b1965c;
    span {
      letter-spacing: 2.5px;
      margin-top: 2px;
      &:before {
        content: "";
        width: 28px;
        height: 24px;
        display: inline-block;
        background-image: url(../img/common/icon/ico_card.svg);
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: sub;
        margin: 0 8px 0 2px;
      }
    }
    @include HOVER {
      &:hover {
        background-color: #fff;
        span {
          color: #b1965c;
          &:before {
            background-image: url(../img/common/icon/ico_card-hover.svg);
          }
        }
      }
    }
  }
  &--mail {
    background-color: #01161f;
    border: 1px solid #01161f;
    span {
      letter-spacing: 1px;
      margin-top: 4px;
      &:before {
        content: "";
        width: 27px;
        height: 19px;
        display: inline-block;
        background-image: url(../img/common/icon/ico_mail.svg);
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: sub;
        margin: 4px 21px 0 -18px;
      }
    }
    @include HOVER {
      &:hover {
        background-color: #fff;
        span {
          color: #01161f;
        }
      }
    }
  }
  &--arrow {
    position: relative;
    &:after {
      content: "";
      width: 18px;
      height: 5px;
      background-image: url(../img/common/icon/ico_arrow.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 20px 6px;
      position: absolute;
      right: 20px;
      top: 48%;
      transition: 0.3s;
    }
    @include HOVER {
      &:hover {
        &.c-btn--card {
          &:after {
            right: 12px;
            background-image: url(../img/common/icon/ico_arrow03.svg);
          }
        }
        &.c-btn--mail {
          &:after {
            right: 12px;
            background-image: url(../img/common/icon/ico_arrow02.svg);
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------
main visual
------------------------------------------------------------*/
.c-ms {
  width: 100%;
  height: 294px;
  position: relative;
  z-index: 1;
  padding-top: 131px;
  @include SP {
    margin-top: 55px;
    height: 146px;
    padding: 60px 20px 0;
  }
  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &:before {
    top: 33px;
    left: 0;
    width: 81%;
    height: 261px;
    background-image: url(../img/blog/ms_blog.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    @include SP {
      width: 89%;
      height: 130px;
      top: 16px;
    }
  }
  &:after {
    top: 0;
    right: 0;
    width: 86.5%;
    height: 264px;
    background-image: url(../img/common/bg_ms_01.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    @include SP {
      width: 77%;
      height: 132px;
    }
  }
  &__ttl-en {
    @include font(45, 1, 7px);
    color: #fff;
    font-family: 'Oswald';
    @include SP {
      @include font(30, 1, 5px);
    }
  }
  &__ttl-jp {
    @include font-size(18);
    color: #fff;
    letter-spacing: 5.5px;
    margin-top: 7px;
    @include SP {
      @include font-size(12);
      letter-spacing: 3px;
    }
  }
}

.c-ms02 {
  width: 100%;
  height: 179px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 68px;
  @include SP {
    margin-top: 55px;
    height: 97px;
    padding-top: 25px;
  }
  &:after {
    content: "";
    width: 92.5%;
    height: 100%;
    background-image: url(../img/common/bg_ms_02.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include SP {
      width: 100%;
    }
  }
  &__ttl-en {
    @include font(29, 1, 4px)
    color: #01161f;
    font-family: 'Oswald';
    @include SP {
      @include font-size(25);
    }
  }
  &__ttl-jp {
    @include font-size(12);
    color: #01161f;
    letter-spacing: 3.5px;
    margin-top: 5px;
    @include SP {
      margin-top: 7px;
    }
  }
}