@charset 'UTF-8';

.fContact {
  position: relative;
  z-index: 1;
  padding: 50px 0 76px;
  @include SP {
    padding: 43px 20px 40px;
  }
  &:before {
    content: "";
    width: 95%;
    height: 100%;
    background-image: url(../img/common/bg_footer.jpg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include SP {
      width: 100%;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 54px;
    @include SP {
      margin-bottom: 45px;
    }
  }
  &__ttl1 {
    @include SP {
      padding-left: 11px;
      img {
        max-width: 170px;
      }
    }
  }
  &__ttl2 {
    @include font(40, 1.1, 6px);
    color: #01161f;
    font-family: 'Oswald';
    position: relative;
    display: inline-block;
    img {
      position: absolute;
      top: -32px;
      left: -112px;
    }
    @include SP {
      @include font-size(30);
      margin-top: 7px;
      letter-spacing: 4px;
      img {
        max-width: 60px;
        top: -26px;
        left: -82px;
      }
    }
  }
  &__ttl3 {
    @include font-size(16);
    color: #01161f;
    margin-top: 6px;
    letter-spacing: 3.7px;
    @include SP {
      letter-spacing: 2.5px;
    }
  }
  &__btnGroup {
    max-width: 940px;
    margin: 0 auto;
    @include flexbox();
    @include justify-content(space-between);
    @include max-screen(1100px) {
      @include flex-wrap(wrap);
      @include justify-content(center);
      li {
        margin: 0 10px;
        &:nth-child(1) {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    @include SP {
      display: block;
      li {
        margin: 0 0 30px !important;
      }
    }
  }
  &__phone {
    width: 288px;
    height: 76px;
    display: block;
    padding-top: 6px;
    margin: 0 auto;
    @include SP {
      width: 100%;
      height: 120px;
      background-color: #fff;
      text-align: center;
      padding-top: 17px;
    }
  }
  &__phone-txt {
    @include font-size(15);
    color: #01161f;
    letter-spacing: 1.5px;
  }
  &__phone-number {
    @include font-size(40);
    color: #01161f;
    line-height: 1;
    font-family: 'Oswald';
    display: block;
    letter-spacing: 2px;
    &:before {
      content: "";
      width: 46px;
      height: 26px;
      background-image: url(../img/common/icon/ico_phone.svg);
      display: inline-block;
      margin: 0 -4px 2px 0;
    }
    @include SP {
      @include font-size(29);
      letter-spacing: 1.5px;
      margin-top: 4px;
      &:before {
        width: 35px;
        height: 20px;
        background-size: 100% auto;
        margin:   0 1px 4px 0;
      }
    }
  }
  &__phone-time {
    @include font-size(12);
    color: #01161f;
    display: block;
    text-align: right;
    margin-top: 8px;
    padding-right: 20px;
    @include SP {
      text-align: center;
    }
  }
  .c-btn {
    width: 280px;
    height: 76px;
    span {
       @include font-size(16);
    }
    @include SP {
      width: 100%;
      height: 95px;
      span {
        @include font-size(18);
      }
    }
    &--card {
      span {
        letter-spacing: 3px;
        @include SP {
          letter-spacing: 4px;
        }
        &:before {
          width: 33px;
          height: 32px;
          background-size: 100% auto;
          margin: -7px 14px -4px -25px;
          @include SP {
            width: 36px;
            margin: -6px 17px -3px -28px;
          }
        }
      }
    }
    &--mail {
      span {
        letter-spacing: 1.2px;
        margin-top: 0;
        @include SP {
          letter-spacing: 3px;
        }
        &:before {
          width: 30px;
          height: 20px;
          background-size: 100% auto;
          margin: 0 16px 0 -22px;
          @include SP {
            width: 36px;
            height: 23px;
            margin: 9px 32px 0 -50px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #01161f;
  position: relative;
  padding: 86px 20px 55px;
  @include SP {
    padding: 39px 20px 20px;
  }
  &:after {
    content: "";
    width: 100%;
    height: calc(100% + 130px);
    background-color: #01161F;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    @include SP {
      height: 100%;
    }
  }
  &__inner {
    max-width: 1045px;
    @include flexbox();
    margin: 0 auto;
    @include SP {
      display: block;
    }
  }
  &__nav {
    width: calc(100% - 260px);
    @include flexbox();
    @include SP {
      display: block;
      width: 100%;
    }
    > ul {
      border-right: 1px solid #696969;
      width: 29.3%;
      padding-left: 4.9%;
      @include SP {
        width: 100%;
        border-right: none;
        padding-left: 0;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      &:nth-child(1) {
        padding-left: 0;
        @include SP {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 31.5%;
        @include SP {
          width: 100%;
        }
      }
      &:last-of-type {
        border-right: none;
      }
      > li {
        margin-bottom: 10px;
        @include SP {
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        > a {
          display: inline-block;
          @include SP {
            display: block;
            @include font-size(16);
            border-bottom: 1px solid #696969;
            padding: 15px 20px;
            margin-bottom: 0;
          }
        }
        &.footer__nav--itemSP {
          @include SP {
            display: inline-block;
            width: 43%;
            float: left;
            position: relative;
            margin-top: 11px;
            &:before {
              content: "";
              width: 3px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              top: 26px;
              left: 1px;
            }
            &:last-of-type {
              width: 57%;
            }
          }
          > a {
            @include SP {
              border-bottom: none;
              @include font-size(14);
              padding: 15px 12px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
    a {
      @include font-size(12);
      color: #fff;
    }
    .js-slide {
      position: relative;
      &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: absolute;
        top: 45%;
        right: 22px;
        transform: rotate(45deg) translateY(-50%);
        transition: 0.3s;
      }
      &.active {
        &:after {
          right: 16px;
          transform: rotate(-135deg) translateY(-50%);
        }
      }
    }
  }
  &__subNav {
    margin: 7px 0 10px;
    @include SP {
      border-bottom: 1px solid #696969;
      display: none;
      padding: 15px 0 20px;
      margin: 0;
    }
    @include PC {
      display: block !important;
    }
    > li {
      position: relative;
      padding-left: 12px;
      margin-bottom: -1px;
      @include SP {
        margin-bottom: 10px;
        padding-left: 0;
      }
      &:before {
        content: "";
        width: 3px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 13px;
        left: 0;
        @include SP {
          top: 19px;
          left: 34px;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        letter-spacing: 1.2px;
        @include SP {
          @include font-size(14);
          padding: 10px 0 10px 55px;
          letter-spacing: 1.6px;
          display: block;
        }
      }
    }
  }
  &__info {
    width: 260px;
    @include SP {
      width: 100%;
      margin-top: 47px;
    }
  }
  &__logo {
    margin-bottom: 25px;
    @include SP {
      margin-bottom: 25px;
    }
  }
  &__address {
    @include font-size(12);
    color: #fff;
    font-family: 'Oswald';
    margin-bottom: 16px;
    @include SP {
      margin-bottom: 12px;
      letter-spacing: 0.8px;
    }
    a {
      @include font-size(12);
      color: #fff;
      text-decoration: underline;
      background-image: url(../img/common/icon/ico_map.svg);
      background-repeat: no-repeat;
      background-position: center left;
      display: inline-block;
      padding-left: 10px;
      @include SP {
        padding-left: 20px;
        background-position: 7px 6px;
      }
    }
  }
  &__phone {
    @include font-size(12);
    color: #fff;
    line-height: 1.9;
    margin-bottom: 14px;
    @include SP {
      margin-bottom: 27px;
    }
    a {
      color: #fff;
    }
  }
  &__sns {
    @include flexbox();
    @include align-items(center);
    margin-bottom: 25px;
    @include SP {
      @include align-items(flex-end);
      margin-bottom: 27px;
    }
    p {
      @include font-size(12);
      color: #fff;
      font-family: 'Oswald';
      letter-spacing: 0.7px;
      margin-right: 18px;
      @include SP {
        margin: 0 22px -2px 0;
      }
    }
    ul {
      li {
        display: inline-block;
        margin-right: 5px;
        @include SP {
          margin-right: 16px;
          img {
            width: 21px;
          }
        }
      }
    }
  }
  &__copyright {
    text-align: right;
    @include font-size(12);
    color: #fff;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    padding-right: 13px;
    @include SP {
      text-align: left;
    }
  }
  &__scrolltop {
    display: none;
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 10;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    box-sizing: content-box;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    @include SP {
      bottom: 21px;
      right: 21px;
    }
    svg circle, svg path {
      transition: 0.3s;
    }
    @include HOVER {
      &:hover {
        background-color: #01161f;
        svg circle {
          fill: transparent;
        }
        svg path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }
  }
}
