@charset 'UTF-8';

.header {
  width: 100%;
  height: 114px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 36px;
  @include max-screen(1100px) {
    padding: 0 15px 0;
  }
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include SP {
    height: 55px;
    padding: 0 70px 0 13px;
    background-color: transparent;
    transition: 0.3s;
    &.scroll {
      background-color: #fff;
    }
    &.bg {
      background-color: #01161f;
      .header__logo--close {
        display: none;
      }
      .header__logo--open {
        display: inline-block;
      }
    }
  }
  &__logo {
    margin-bottom: 10px;
    @include max-screen(1100px) {
      img {
        max-width: 110px;
      }
    }
    @include SP {
      margin-bottom: 0;
      position: relative;
      z-index: 100;
      img {
        max-width: 114px;
        @include IP5 {
          max-width: 90px;
        }
      }
    }
    &--close {
      display: inline-block;
    }
    &--open {
      display: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__menu {
    margin: 5px 42px 0 0;
    @include max-screen(1280px) {
      margin-right: 10px;
    }
    ul {
      text-align: right;
      li {
        display: inline-block;
        margin-left: 30px;
        &:first-of-type {
          margin-left: 0
        }
        @include max-screen(1280px) {
          margin-left: 12px;
        }
      }
    }
    a {
      display: inline-block;
      padding: 0 3px 11px;
      position: relative;
      color: #262626;
      @include font-size(15);
      letter-spacing: 1px;
      @include max-screen(1280px) {
        letter-spacing: 0.5;
        padding: 0 0 11px;
      }
      @include max-screen(1100px) {
        @include font-size(14);
      }
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #262626;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .3s;
      }
      @include HOVER {
        &:hover {
          opacity: 1;
          &:after {
            transform-origin: left top;
            transform: scale(1, 1);
          }
        }
      }
    }
    .disable {
      a {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
  &__btnGroup {
    position: relative;
    margin-bottom: 16px;
    @include max-screen(1280px) {
      .c-btn {
        width: 180px;
      }
    }
  }
  &__btnBottom {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;
  }
  &__btnSp {
    margin-top: 3px;
    .c-btn {
      width: 148px;
      height: 37px;
      @include IP5 {
        width: 130px;
      }
      span {
        @include font-size(12);
        letter-spacing: 1.5px;
        margin-top: -10px;
        @include IP5 {
          letter-spacing: 0.5px;
        }
        &:before {
          width: 25px;
          height: 24px;
          background-size: 100% auto;
          margin: 7px 6px -2px -3px;
        }
      }
    }
  }
  &__open {
    width: 59px;
    height: 55px;
    background-color: #01161f;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    span {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin: 0;
      background-color: #fff;
      &:nth-child(1) {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
      &:nth-child(2) {
        margin: 8px 0;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
      &:nth-child(3) {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
    }
    &.active {
      span:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
      }
      span:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
      }
      span:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
      }
    }
    @-webkit-keyframes inM {
      50% { -webkit-transform:rotate(0deg); }
      100% { -webkit-transform:rotate(45deg); }
    }
    @keyframes inM {
      50% { transform:rotate(0deg); }
      100% { transform:rotate(45deg); }
    }
    @-webkit-keyframes outM {
      50% { -webkit-transform:rotate(0deg); }
      100% { -webkit-transform:rotate(45deg); }
    }
    @keyframes outM {
      50% { transform:rotate(0deg); }
      100% { transform:rotate(45deg); }
    }
    @-webkit-keyframes inT {
      0% { -webkit-transform: translateY(0px) rotate(0deg); }
      50% { -webkit-transform: translateY(9px) rotate(0deg); }
      100% { -webkit-transform: translateY(9px) rotate(135deg); }
    }
    @keyframes inT {
      0% { transform: translateY(0px) rotate(0deg); }
      50% { transform: translateY(9px) rotate(0deg); }
      100% { transform: translateY(9px) rotate(135deg); }
    }
    @-webkit-keyframes outT {
      0% { -webkit-transform: translateY(0px) rotate(0deg); }
      50% { -webkit-transform: translateY(9px) rotate(0deg); }
      100% { -webkit-transform: translateY(9px) rotate(135deg); }
    }
    @keyframes outT {
      0% { transform: translateY(0px) rotate(0deg); }
      50% { transform: translateY(9px) rotate(0deg); }
      100% { transform: translateY(9px) rotate(135deg); }
    }
    @-webkit-keyframes inBtm {
      0% { -webkit-transform: translateY(0px) rotate(0deg); }
      50% { -webkit-transform: translateY(-9px) rotate(0deg); }
      100% { -webkit-transform: translateY(-9px) rotate(135deg); }
    }
    @keyframes inBtm {
      0% { transform: translateY(0px) rotate(0deg); }
      50% { transform: translateY(-9px) rotate(0deg); }
      100% { transform: translateY(-9px) rotate(135deg); }
    }
    @-webkit-keyframes outBtm {
      0% { -webkit-transform: translateY(0px) rotate(0deg); }
      50% { -webkit-transform: translateY(-9px) rotate(0deg); }
      100% { -webkit-transform: translateY(-9px) rotate(135deg); }
    }
    @keyframes outBtm {
      0% { transform: translateY(0px) rotate(0deg); }
      50% { transform: translateY(-9px) rotate(0deg); }
      100% { transform: translateY(-9px) rotate(135deg); }
    }
  }
  &__open-icon {
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.menu-sp {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 992;
  background-color: #01161F;
  padding: 50px 20px 0;
  @include PC {
    display: none !important;
  }
  &__nav {
    padding: 10px 0 82px 0;
    > li {
      > a {
        @include font-size(16);
        color: #fff;
        border-bottom: 1px solid #696969;
        display: block;
        padding: 15px 17px 14px;
        letter-spacing: 2px;
      }
    }
  }
  &__subNav {
    display: none;
    border-bottom: 1px solid #696969;
    padding: 14px 0 11px;
    > li {
      margin-bottom: 10px;
      > a {
        @include font-size(14);
        color: #fff;
        display: block;
        position: relative;
        padding: 10px 0 10px 54px;
        letter-spacing: 1.6px;
        &:before {
          content: "";
          width: 4px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          top: 20px;
          left: 33px;
        }
      }
    }
  }
  &__subNav02 {
    @include flexbox();
    padding: 27px 0 0;
    > li {
      width: 50%;
       > a {
         @include font-size(14);
         color: #fff;
         display: block;
         position: relative;
         padding: 10px 0 10px 12px;
         letter-spacing: 1.6px;
         &:before {
           content: "";
           width: 4px;
           height: 1px;
           background-color: #fff;
           position: absolute;
           top: 20px;
           left: 0;
         }
       }
    }
  }
  .js-slide {
    position: relative;
    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      top: 45%;
      right: 22px;
      transform: rotate(45deg) translateY(-50%);
      transition: 0.3s;
    }
    &.active {
      &:after {
        right: 16px;
        transform: rotate(-135deg) translateY(-50%);
      }
    }
  }
  &__title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
  }
  &__ttl1 {
    @include font-size(30);
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-family: 'Oswald';
    letter-spacing: 3.7px;
    img {
      position: absolute;
      top: -2px;
      left: -57px;
    }
  }
  &__ttl2 {
    @include font-size(16);
    margin-top: 5px;
    letter-spacing: 2px;
  }
  &__btn {
    margin-bottom: 50px;
    li {
      margin-bottom: 30px;
    }
  }
  &__phone {
    display: block;
    background-color: #fff;
    text-align: center;
    color: #01161f;
    padding: 17px 0 20px;
  }
  &__phone-txt {
    @include font-size(15);
    letter-spacing: 1px;
  }
  &__phone-number {
    @include font(29, 1, 1.5px);
    font-family: 'Oswald';
    display: inline-block;
    position: relative;
    margin-top: 3px;
    padding-left: 37px;
    &:before {
      content: "";
      width: 35px;
      height: 20px;
      background-image: url(../img/common/icon/ico_phone.svg);
      background-size: 35px auto;
      position: absolute;
      top: 6px;
      left: -1px;
    }
  }
  &__phone-time {
    @include font-size(12);
    margin-top: 2px;
  }
  &__close {
    position: relative;
    text-align: center;
    padding-top: 28px;
    cursor: pointer;
    margin-bottom: 50px;
    p {
      display: inline-block;
      @include font-size(16);
      color: #fff;
      font-family: 'Oswald';
      position: relative;
      &:before, &:after {
        content: "";
        width: 22px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  .c-btn {
    width: 100%;
    height: 98px;
    &--card {
      span {
        @include font-size(18);
        letter-spacing: 4px;
        &:before {
          width: 35px;
          height: 30px;
          background-size: 100% auto;
          margin: 0 17px 0 -26px;
        }
      }
    }
    &--mail {
      background-color: #fff;
      span {
        @include font-size(18);
        letter-spacing: 2.8px;
        color: #01161F;
        &:before {
          width: 35px;
          height: 23px;
          background-size: 100% auto;
          margin: 0 32px 0 -50px;
        }
      }
    }
    &--arrow {
      &.c-btn--mail {
        &:after {
          background-image: url(../img/common/icon/ico_arrow02.svg);
        }
      }
    }
  }
}