@charset 'UTF-8';
/*-----------------------------------------------------------
sidebar
------------------------------------------------------------*/
.side {
	width: 232px;
	min-width: 232px;
	@include SP {
		width: 100%;
		background-color: #dfe1e8;
		padding: 70px 20px 76px;
	}
	&__title {
		@include font-size(20);
		color: #01161f;
		font-family: 'Oswald';
		line-height: 1.45;
		letter-spacing: 2px;
		@include SP {
			text-align: center;
			letter-spacing: 0.8px;
			padding: 19px 0 20px;
		}
	}
	&__title-sp {
		@include SP {
			border: 1px solid #01161f;
			position: relative;
			cursor: pointer;
			&:after {
				content: "";
				width: 8px;
				height: 8px;
				border-right: 1px solid #01161f;
				border-bottom: 1px solid #01161f;
				position: absolute;
				top: 50%;
				right: 26px;
				transform: translateY(-50%) rotate(45deg);
				transition: 0.3s
			}
			&.active {
				&:after {
					transform: translateY(-50%) rotate(-135deg);
				}
			}
		}
	}
	&__list01 {
		@include SP {
			border: 1px solid #01161f;
			border-top: none;
			display: none;
		}
		@include PC {
			display: block !important;
		}
		li {
			margin-bottom: 15px;
			@include SP {
				border-bottom: 1px solid #cecece;
				margin-bottom: 0;
			}
		}
		a {
			display: block;
			padding-left: 24px;
			@include font-size(14);
			color: #01161f;
			letter-spacing: 1.1px;
			position: relative;
			@include SP {
				padding: 20px 65px 19px 25px;
				line-height: 1.4;
			}
			&:before {
				content: "";
				width: 14px;
				height: 6px;
				background-image: url(../img/common/icon/ico_arrow02.svg);
				background-repeat: no-repeat;
				background-size: 100% auto;
				position: absolute;
				top: 9px;
				left: 0;
				transition: 0.3s;
				@include SP {
					left: auto;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			@include HOVER {
				&:hover {
					&:before {
						left: 6px;
					}
				}
			}
		}
	}
	&__list02 {
		li {
			margin-bottom: 21px;
			@include SP {
				margin-bottom: 10px;
			}
		}
		a {
			@include flexbox();
			@include SP {
				background-color: #fff;
				padding: 20px;
			}
		}
		&-img {
			width: 70px;
			height: 70px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&-info {
			width: calc(100% - 70px);
			padding: 0 0 0 12px;
			@include SP {
				margin-top: -5px;
			}
		}
		&-top {
			@include multiLineEllipsis(1);
			@include IE {
				@include multiLineEllipsisForFF(1.6em, 1, #fff);
			}
		}
		&-date {
			@include font-size(12);
			color: #01161f;
			font-family: 'Oswald';
			@include SP {
				@include font-size(13);
			}
		}
		&-cat {
			@include font-size(12);
			color: #01161f;
			position: relative;
			padding-left: 13px;
			letter-spacing: 1.5px;
			@include SP {
				@include font-size(14);
			}
			&:before {
				content: "";
				width: 1px;
				height: 12px;
				background-color: #01161f;
				position: absolute;
				top: 0;
				left: 5px;
			}
		}
		&-text {
			@include font-size(14);
			color: #01161f;
			letter-spacing: 1.1px;
			@include multiLineEllipsis(2);
			@include IE {
				@include multiLineEllipsisForFF(1.3em, 2, #fff);
			}
			@include SP {
				margin-top: 6px;
			}
		}
	}
	&__list03 {
		@include SP {
			padding: 12px 0 0;
			border: 1px solid #000;
			border-top: none;
			display: none;
		}
		@include PC {
			display: block !important;
		}
		> li {
			margin-bottom: 2px;
			@include SP {
				border-bottom: 1px solid #000;
				&:last-of-type {
					border-bottom: none;
				}
			}
		}
		&-item {
			@include font-size(14);
			color: #01161f;
			position: relative;
			padding: 5px 0 5px 22px;
			cursor: pointer;
			@include SP {
				padding: 17px 0 17px 25px;
			}
			&:before {
				content: "";
				width: 7px;
				height: 7px;
				border-right: 1px solid #000;
				border-bottom: 1px solid #000;
				position: absolute;
				top: 11px;
				left: 0;
				transform: rotate(-45deg);
				transition: 0.3s;
				@include SP {
					left: auto;
					right: 25px;
					width: 8px;
					height: 8px;
					transform: translateY(-50%) rotate(45deg);
					top: 50%;
				}
			}
			&.active {
				&:before {
					transform: rotate(45deg);
					@include SP {
						transform: translateY(-50%) rotate(-135deg);
					}
				}
			}
		}
		&-sub {
			display: none;
			padding: 4px 0 6px 20px;
			@include SP {
				padding: 2px 0 16px 20px;
			}
			a {
				display: block;
				padding: 5px 0 5px 32px;
				@include SP {
					padding: 9px 0 9px 32px;
				}
			}
		}
	}
	&__sec01 {
		margin-bottom: 65px;
		@include SP {
			background-color: #fff;
			margin-bottom: 35px;
		}
		.side__title {
			margin-bottom: 23px;
			@include SP {
				margin-bottom: 0;
			}
		}
	}
	&__sec02 {
		margin-bottom: 69px;
		@include SP {
			margin-bottom: 52px;
		}
		.side__title {
			margin-bottom: 30px;
			@include SP {
				margin-bottom: 11px;
			}
		}
	}
	&__sec03 {
		@include SP {
			background-color: #fff;
		}
		.side__title {
			margin-bottom: 20px;
			@include SP {
				margin-bottom: 0;
			}
		}
	}
}